@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
* {
  padding: 0; 
  margin: 0; 
  box-sizing: border-box;
}

.background-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);   /*  or 0.7 */
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  background-color: black; 
  padding-bottom: 1000px;
}

.frame1 {
  background-image: url("img/hero-img/hero-section.jpg");  
  background-size: cover; 
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;


  width: 100%; 
  height: 100vh;
  /* padding: 10px; */

  display: flex; 
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  background-color: rgba(48, 48, 48, .8);
  width: 100%;
  padding: 10px 50px;
  backdrop-filter: blur(8px); 

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1000;
}

.nav-Title{
  /* background-color: blue; */
  font-family: "Zen Dots";
  font-weight: 500;
  color: white; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.nav_links {
  /* background-color: darkcyan; */
  padding: 10px; 
  width: 50%;
}

.nav_links ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.nav_links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: "Zen Dots";
  font-weight: 300;
}

.nav-btn {
  font-family: "Zen Dots";
  background-color: transparent; 
  color: white; 
  text-decoration: none; 
  border: none;
}

.hero-section{
  /* background-color: beige; */
  padding: 20px 50px;
  height: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.hero-section-left, .hero-section-right {
  /* background-color: lightgreen;  */
  width: 50%; 
  display: flex; 
  flex-direction: column;
  justify-content: start;
}

.hero-section-left{
  padding: 150px 100px 0px 20px;
 
}

.hero-section-left-top {
  /* background-color: rgb(120, 120, 140); */
}

.hero-section-left-top h1{
  font-family: "Zen Dots";
  font-size: 36px;
  color: white;
  padding: 0px 0px 10px 40px;

}

.hero-section-left-btm {
  /* background-color: rgb(162, 169, 133); */
}

.hero-section-left-btm p {
  padding: 0px 0px 0px 40px;
  color: white;
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 300;
}


.hero-section-right{
  padding: 200px 0px 0px 100px;
 
}

.hero-section-right-top {
  /* background-color: rgb(120, 120, 140); */
}

.hero-section-right-top h1{
  font-family: "Zen Dots";
  font-size: 36px;
  color: white;
  padding: 0px 0px 10px 40px;

}

.hero-section-right-mid {
  /* background-color: rgb(162, 169, 133); */
}

.hero-section-right-mid p {
  padding: 0px 0px 0px 40px;
  color: white;
  font-family: "Zen Kaku Gothic Antique";
  font-weight: 300;
}

.hero-section-right-btm {
  /* background-color: lightgray; */
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-section-right-btn {
  padding: 2px 10px;
  font-size: 16px;
  font-family: "Zen Dots";

}


.hero-section-bottom {
  /* background-color: lightgrey; */

  margin-bottom: 4%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hero-section-bottom h3 {
  color: white; 
  font-family: "Inria Serif";
  font-weight: 300;
}

/*! Section 2 */

.frame2 {
  background-color: rgb(193, 190, 190);
  width: 100%; 
  height: 100vh;
/* 
  background-image: url("img/pexels-alleksana-4239756.jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-repeat: no-repeat; */

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview-center {
  /* background-color: lightgray; */
  width: 100%;
  height: 100%; 
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem; 
}

.overview-center > * {
  height: 100%;
  background-color: rgba(174, 173, 173, 0.7);
  backdrop-filter: blur(2px);
  flex: 1;
}

.overview-center-left {
  background-image: url("img/overview-img/download\ \(8\).jpg");
  background-size: cover; 
  background-position: 50% 10%;
  background-repeat: no-repeat;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.overview-center-left-top {
  /* background-color: lightblue; */
  width: 100%; 
  padding: 10px; 
  z-index: 1;
}

.overview-center-left-top h1 {
  text-align: center;
  color: white; 
  padding-bottom: 30px;
  font-family: "Zen Dots";
  z-index: 1;
}

.overview-center-left-btm {
  /* background-color: lightseagreen; */
  padding: 0px 40px;
  z-index: 1;

}

.overview-center-left-btm p {
  color: white;
  font-family: "Zen Kaku Gothic Antique";
  line-height: 50px;
  padding-bottom: 20px;

}

.overview-center-center {
  background-image: url("img/overview-img/futuristics.jpg");
  background-size: cover; 
  background-position: 50% 10%;
  background-repeat: no-repeat;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.overview-center-center-top {
  /* background-color: lightblue; */
  width: 100%; 
  padding: 10px; 
  z-index: 1;
}

.overview-center-center-top h1 {
  text-align: center;
  color: white; 
  padding-bottom: 30px;
  font-family: "Zen Dots";
  z-index: 1;
}

.overview-center-center-btm {
  /* background-color: lightseagreen; */
  padding: 0px 40px;
  z-index: 1;

}

.overview-center-center-btm p {
  color: white;
  font-family: "Zen Kaku Gothic Antique";
  line-height: 50px;
  padding-bottom: 20px;

}

.overview-center-right {
  background-image: url("img/overview-img/download\ \(7\).jpg");
  background-size: cover; 
  background-position: 50% 10%;
  background-repeat: no-repeat;
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}


.overview-center-right-top {
  /* background-color: lightblue; */
  width: 100%; 
  padding: 10px; 
  z-index: 1;
}

.overview-center-right-top h1 {
  text-align: center;
  color: white; 
  padding-bottom: 30px;
  font-family: "Zen Dots";
  z-index: 1;
}

.overview-center-right-btm {
  /* background-color: lightseagreen; */
  padding: 0px 40px;
  z-index: 1;
}

.overview-center-right-btm p {
  color: white;
  font-family: "Zen Kaku Gothic Antique";
  line-height: 50px;
  padding-bottom: 20px;
}


/*! Section 3  */

.frame3{
  background-image: url("img/overview-img/download\ \(7\).jpg");
  background-size: cover; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  /* background-color: rgb(95, 89, 89); */
  width: 100%; 
  height: 100vh;
  /* padding: 10px; */

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.activities-events-center {
  /* background-color: rgb(129, 189, 187); */
  width: 100%;
  flex: 1;
  padding: 20px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.activities-events-center > * {
  flex: 1; 
  height: 100%;
}

.activities-events-center-left {
  /* background-color: lightcoral; */
}

.activities-events-center-left-grid {
  height: 100%; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.activities-events-center-left-grid div{
  border: 1px solid black; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.activities-events-center-left-grid div h1 {
  color: white;
  font-family: "Zen Dots";
  text-align: center;
  padding-top: 10px;
}

.activities-events-center-left-grid div p {
  color: white;
  padding: 0 20px;
}
.activities-events-center-right {
  /* background-color: rgb(154, 128, 240); */
}

.activities-events-center-right-top{
  /* background-color: lightpink; */
  width: 100%; 
  /* height: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activities-events-center-right-top h5{
  color: white; 
  font-family: "Zen Dots";
  text-align: right;
  width: 100%;
  padding-right: 10px;
  font-weight: 300;
}

.activities-events-center-right-top h1{
  color: white; 
  font-family: "Zen Dots";
}

.activities-events-center-right-btm {
  /* background-color: lightgray; */
  width: 100%; 
  padding-top: 100px;
}

.activities-events-center-right-btm p {
  color: white;
  padding: 0 20px;
  font-size: 18px;
  line-height: 50px;
  font-family: "Zen Kaku Gothic Antique";

}



/*! Section 4 */

.frame4 {
  background-color: rgb(212, 173, 230);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stay-center {
  background-color: cadetblue;
  width: 100%; 
  height: 100%; 
  padding: 10px; 

  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.stay-center-left, .stay-center-right {
  background-color: lightgray;
  width: 50%;
  height: 100%; 
}

/* ! Section 5 */

.frame5{
  background-color: rgb(230, 173, 173);
  width: 100%; 
  height: 60vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dine-center {
  background-color: rgb(129, 202, 222);
  width: 100%; 
  height: 100%; 
  padding: 10px; 

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}

.dine-center-left, .dine-center-right{
  width: 100%; 
  height: 100%; 
  background-color: rgb(119, 63, 63);
}

.dine-center-right {
  padding: 10px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}

.dine-center-right-top, .dine-center-right-btm {
  background-color: lightgray; 
  height: 100%; 
  width: 100%; 
}

/*! Section 6  */

.frame6{
  background-color: rgb(157, 65, 99);
  width: 100%; 
  height: 50vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.testimonial-top {
  background-color: lightgray;
  width: 100%; 
  height: 100px; 
}

.testimonial-btm {
  background-color: rgb(244, 155, 11);
  padding: 10px; 
  width: 100%; 
  flex: 1;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}


.testimonial-btm div{
  background-color: lightgray;
  height: 100%;
  flex: 1;
}

/*! Section 7  */

.frame7 {
  background-color: rgb(70, 65, 157);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.faq-top {
  background-color: lightgray;
  width: 100%; 
  height: 10%;
}

.faq-btm {
  background-color: lightgray;
  width: 100%; 
  flex: 1;
}


.frame8 {
  background-color: rgb(157, 65, 65);
  width: 100%; 
  height: 100vh;
  padding: 10px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 20px;
}

.inquire-top {
  background-color: lightgray;
  width: 100%; 
  height: 10%;
}

.inquire-btm {
  background-color: lightgray;
  width: 100%; 
  padding: 10px;
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.inquire-btm-content {
  background-color: lightcoral;
  height: 100%; 
  width: 60%; 
}


